/*****************
  Defaults
 ****************/

:root {
  --grid-baseline: 8px;
}

html {
  height: 100%;
    overflow: hidden;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

li {
  margin-left: calc(var(--grid-baseline) * 3);
}

/*****************
  Layout
 ****************/

.main-split {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 600px;
  grid-template-areas: 'editor console';
}

/*****************
  Utilities
 ****************/

.pad-1 {
  padding: var(--grid-baseline);
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.display-none {
  display: none;
}
.flex-1 {
  flex: 1;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.bg-primary {
  background-color: cornflowerblue;
}
.text-primary-contrast {
  color: white;
}
.text-h1 {
  font-size: 2.5rem;
}

.bg-neutral-80 {
  background-color: rgba(210, 210, 210, 0.8);
}

.border-round-large {
  border-radius: 24px;
}

.border-dashed-8 {
  border: 8px dashed #aaa;
}

.position-relative {
  position: relative;
}

.position-absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-align-stretch {
  align-items: stretch;
}

.size-fill {
  width: 100%;
  height: 100%;
}

/**
  Horizontal stack, adds margin between children
 */
.h-stack-1 > :not(:last-child) {
  margin-right: var(--grid-baseline);
}